


.bgContainer {
    width: 100%;
    height: 100vh;
    padding: 0px;
    position: static;
    
}
.content {
    position: static;
    width: 100%;

   height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
}

video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    z-index: -1;
}

.firstPar {
    font-size: 72px;
    font-family: 'Times New Roman', Times, serif
}
.secPar {
    font-size: 72px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    font-weight: 58px;
}
.thirdPar {
    font-size: 32px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}


.app {

}

.menuContainer {
height: 100vh;
  position: static;
  padding: 0px;
  margin: 0px;
  align-items: center;
  justify-content: center;
  justify-items: center;
  width: 100%;
}
.bgImage {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    background-size: cover;
    z-index: -1;

}
.downButton {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border-radius: 15px;
}

.busImg {
    object-fit: contain;
    z-index: 0;
    position: absolute;
    transform: rotate(22deg);
    height: 300px;
    margin-top: 2px;
    margin-left: 10px;
  }
.roadImg {
    object-fit: contain;
    z-index: 0;
    position: absolute;
    transform: rotate(8deg);
    height: 300px;
    margin-top: 320px;
    margin-left: 200px;
}
.grassImg {
    object-fit: contain;
    z-index: 0;
    position: absolute;
    transform: rotate(-30deg);
    height: 70px;
    margin-top: 300px;
    margin-left: 200px;
}
.signBoardImg {
    object-fit: contain;
    z-index: 0;
    position: absolute;
    transform: rotate(5deg);
    height: 220px;
    margin-top: 40px;
    margin-left: 1000px;
   
}
.boardText {
    margin-top: 70px;
    position: absolute;
    margin-left: 1070px;
    transform: rotate(5deg);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    color: azure;
}