.gradient-custom-5 {
    /* fallback for old browsers */
    background: #b446e7;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(154, 63, 190), rgb(173, 143, 244));
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(205, 102, 236), rgb(131, 67, 248))
  }

  .navTitle {
    font-size: 24px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: rgb(46, 46, 46);
  }
  .custom-dropdown-toggle {
    position: relative;
    display: none;
  }
  
  .custom-dropdown-toggle::after {
    display: none;
    content: '';
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black; /* Change to your desired color */
  }