.dragIcon {
    color: aliceblue;
    background-color: rgb(105, 206, 47);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    align-content: center;
    z-index: 99999 !important;
}
.dragButton {
    position: fixed;
    z-index: 99999;
}

.saveDragButton {
    font-size: 10px;
    padding: 6px;
}
.customPaper {
    width: 300px;
}
.customAccordionSummaryContent {
    margin: 0 !important;  /* Remove margin */
  }