.cardContainer {

    justify-content: space-between;
    align-items: center;
    /* you can change the 4 below to 3 if you only want 3 cards per row */
    grid-gap: 40px;
    place-items: center;
}

.card {
    width: 310px;
    height: 240px;
    position: relative;
    text-align: center;
    color: azure;
    padding: 0;
    border-radius: 40px;
 }

 .row {
justify-content: space-between;
 }
 .titles {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 22px;
    text-align: left;
    align-content: end;
    font-weight: 800px;
    font-family: "Archivo Black";
 }
 .menuImg {
    display: flex;
    object-fit: cover;
    padding: 0;
    position: absolute;
    border-radius: 20px;
    border-width: 12px;
    border-color: aliceblue;
 }
 .selectContainer {
   width: 100%;
   height: 100px;
   align-items: center;
   align-self: center;
   align-content: center;
   justify-content: center;
   display: flex;
   flex-direction: column;
   gap: 12px;
   margin-bottom: 40px;
 }
 .cardImg {
   height: 130px;
   object-fit: cover;
   border-width: 22px;
   border-color: aliceblue;
   overflow: auto;


 }

 .sliderCard {
   border-width: 22px;
   border-radius: 0px;
   height: 220px;

   display: flex !important;
   flex-direction: column;

}
.title {
   text-align: center;
   align-self: center;
   padding-top: 12px;
}

.rating {
   background-color: rgb(255, 208, 0);
   outline: auto;
   width: 32px;
   margin-right: 5px;
   text-align: center;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 14px;
}
.ratingLabel {
   font-family: "Radio Canada Big";
   font-size: 12px;
}
.cardBody {
   background-color: white;
   overflow: auto;
   padding-right: 0px;

}
.ratingRow {
   display: flex;
   align-items: end;
}
.itemTitle {
   color: rgb(20, 11, 7);
   font-family: "Be Vietnam Pro";
   margin-bottom: 12px;
}
.container {
   align-items: center;
   align-content: center;
}
.footerIcon {
   display: flex;
   align-items: center;
   justify-content: space-between;
   height: 20px;
}
.saveButton {
   font-size: 10px;
   padding: 6px;
}

.sliderContainer .slick-slide > div {
   display: flex;
   margin: 0 10px;
 
 }
 .sliderContainer .slick-list {
   display: flex;
}

.sliderContainer .slick-slide {
   margin: 0 10px !important;
}

.slick-initialized .slick-slide {
   margin: 0 10px;
}
